<#include "admin/common/frame.html">
<link rel="stylesheet" type="text/css" href="${base}/res/bhecms/css/systemUser.css">
<link rel="stylesheet" type="text/css" href="${base}/res/bhecms/css/system.css">
<@frame> 

<div class="wel_content">
   	<div class="sys_title">部门管理</div>
    	<#include "admin/user/nav.html">
       <div class="clear"></div>
       <!--部门管理-->
    <div class="department" >
    	<div class="dep_nav">
        	<a href="">产品部</a>
            <a href="">市场部</a>
            <a href="">财政部</a>
            <a href="">运营部</a>
            <a href="">技术部</a>
            <a href="">人力资源部</a>
        </div>
        <div class="clear"></div>
        <div class="dep_content">
        	<p><span>工号</span><span>姓名</span><span>出生日期</span><span>户籍</span><span>职称</span><span>工龄</span><span>操作</span></p>
            <p><span class="dep_num01"><input type="checkbox">001</span><span class="dep_num01">张三</span><span class="dep_num01">1980-01-23</span><span class="dep_num01">重庆</span><span class="dep_num01">java工程师</span><span class="dep_num01">5</span>
            <span><a href="" class="">添加</a><a href="">删除</a><a href="">修改</a></span></p>
            <p><span class="dep_num01"><input type="checkbox">001</span><span class="dep_num01">张三</span><span class="dep_num01">1980-01-23</span><span class="dep_num01">重庆</span><span class="dep_num01">java工程师</span><span class="dep_num01">5</span>
            <span><a href="" class="">添加</a><a href="">删除</a><a href="">修改</a></span></p>
            <p><span class="dep_num01"><input type="checkbox">001</span><span class="dep_num01">张三</span><span class="dep_num01">1980-01-23</span><span class="dep_num01">重庆</span><span class="dep_num01">java工程师</span><span class="dep_num01">5</span>
            <span><a href="" class="">添加</a><a href="">删除</a><a href="">修改</a></span></p>
            <p><span class="dep_num01"><input type="checkbox">001</span><span class="dep_num01">张三</span><span class="dep_num01">1980-01-23</span><span class="dep_num01">重庆</span><span class="dep_num01">java工程师</span><span class="dep_num01">5</span>
            <span><a href="" class="">添加</a><a href="">删除</a><a href="">修改</a></span></p><p><span class="dep_num01"><input type="checkbox">001</span><span class="dep_num01">张三</span><span class="dep_num01">1980-01-23</span><span class="dep_num01">重庆</span><span class="dep_num01">java工程师</span><span class="dep_num01">5</span>
            <span><a href="" class="">添加</a><a href="">删除</a><a href="">修改</a></span></p>
        </div>
        <div class="dep_content" style="display:none;">
        	<p><span>工号</span><span>姓名</span><span>出生日期</span><span>户籍</span><span>职称</span><span>工龄</span><span>操作</span></p>
            <p><span class="dep_num01"><input type="checkbox">001</span><span class="dep_num01">张三</span><span class="dep_num01">1980-01-23</span><span class="dep_num01">重庆</span><span class="dep_num01">java工程师</span><span class="dep_num01">5</span>
            <span><a href="" class="">添加</a><a href="">删除</a><a href="">修改</a></span></p>
            <p><span class="dep_num01"><input type="checkbox">001</span><span class="dep_num01">张三</span><span class="dep_num01">1980-01-23</span><span class="dep_num01">重庆</span><span class="dep_num01">java工程师</span><span class="dep_num01">5</span>
            <span><a href="" class="">添加</a><a href="">删除</a><a href="">修改</a></span></p>
            <p><span class="dep_num01"><input type="checkbox">001</span><span class="dep_num01">张三</span><span class="dep_num01">1980-01-23</span><span class="dep_num01">重庆</span><span class="dep_num01">java工程师</span><span class="dep_num01">5</span>
            <span><a href="" class="">添加</a><a href="">删除</a><a href="">修改</a></span></p>
            <p><span class="dep_num01"><input type="checkbox">001</span><span class="dep_num01">张三</span><span class="dep_num01">1980-01-23</span><span class="dep_num01">重庆</span><span class="dep_num01">java工程师</span><span class="dep_num01">5</span>
            <span><a href="" class="">添加</a><a href="">删除</a><a href="">修改</a></span></p><p><span class="dep_num01"><input type="checkbox">001</span><span class="dep_num01">张三</span><span class="dep_num01">1980-01-23</span><span class="dep_num01">重庆</span><span class="dep_num01">java工程师</span><span class="dep_num01">5</span>
            <span><a href="" class="">添加</a><a href="">删除</a><a href="">修改</a></span></p>
        </div>
        <div class="dep_content" style="display:none;">
        	<p><span>工号</span><span>姓名</span><span>出生日期</span><span>户籍</span><span>职称</span><span>工龄</span><span>操作</span></p>
            <p><span class="dep_num01"><input type="checkbox">001</span><span class="dep_num01">张三</span><span class="dep_num01">1980-01-23</span><span class="dep_num01">重庆</span><span class="dep_num01">java工程师</span><span class="dep_num01">5</span>
            <span><a href="" class="">添加</a><a href="">删除</a><a href="">修改</a></span></p>
            <p><span class="dep_num01"><input type="checkbox">001</span><span class="dep_num01">张三</span><span class="dep_num01">1980-01-23</span><span class="dep_num01">重庆</span><span class="dep_num01">java工程师</span><span class="dep_num01">5</span>
            <span><a href="" class="">添加</a><a href="">删除</a><a href="">修改</a></span></p>
            <p><span class="dep_num01"><input type="checkbox">001</span><span class="dep_num01">张三</span><span class="dep_num01">1980-01-23</span><span class="dep_num01">重庆</span><span class="dep_num01">java工程师</span><span class="dep_num01">5</span>
            <span><a href="" class="">添加</a><a href="">删除</a><a href="">修改</a></span></p>
            <p><span class="dep_num01"><input type="checkbox">001</span><span class="dep_num01">张三</span><span class="dep_num01">1980-01-23</span><span class="dep_num01">重庆</span><span class="dep_num01">java工程师</span><span class="dep_num01">5</span>
            <span><a href="" class="">添加</a><a href="">删除</a><a href="">修改</a></span></p><p><span class="dep_num01"><input type="checkbox">001</span><span class="dep_num01">张三</span><span class="dep_num01">1980-01-23</span><span class="dep_num01">重庆</span><span class="dep_num01">java工程师</span><span class="dep_num01">5</span>
            <span><a href="" class="">添加</a><a href="">删除</a><a href="">修改</a></span></p>
        </div>
        <div class="dep_content" style="display:none;">
        	<p><span>工号</span><span>姓名</span><span>出生日期</span><span>户籍</span><span>职称</span><span>工龄</span><span>操作</span></p>
            <p><span class="dep_num01"><input type="checkbox">001</span><span class="dep_num01">张三</span><span class="dep_num01">1980-01-23</span><span class="dep_num01">重庆</span><span class="dep_num01">java工程师</span><span class="dep_num01">5</span>
            <span><a href="" class="">添加</a><a href="">删除</a><a href="">修改</a></span></p>
            <p><span class="dep_num01"><input type="checkbox">001</span><span class="dep_num01">张三</span><span class="dep_num01">1980-01-23</span><span class="dep_num01">重庆</span><span class="dep_num01">java工程师</span><span class="dep_num01">5</span>
            <span><a href="" class="">添加</a><a href="">删除</a><a href="">修改</a></span></p>
            <p><span class="dep_num01"><input type="checkbox">001</span><span class="dep_num01">张三</span><span class="dep_num01">1980-01-23</span><span class="dep_num01">重庆</span><span class="dep_num01">java工程师</span><span class="dep_num01">5</span>
            <span><a href="" class="">添加</a><a href="">删除</a><a href="">修改</a></span></p>
            <p><span class="dep_num01"><input type="checkbox">001</span><span class="dep_num01">张三</span><span class="dep_num01">1980-01-23</span><span class="dep_num01">重庆</span><span class="dep_num01">java工程师</span><span class="dep_num01">5</span>
            <span><a href="" class="">添加</a><a href="">删除</a><a href="">修改</a></span></p><p><span class="dep_num01"><input type="checkbox">001</span><span class="dep_num01">张三</span><span class="dep_num01">1980-01-23</span><span class="dep_num01">重庆</span><span class="dep_num01">java工程师</span><span class="dep_num01">5</span>
            <span><a href="" class="">添加</a><a href="">删除</a><a href="">修改</a></span></p>
        </div>
        <div class="paging"><button>首页</button><button>1</button><span>转到</span><input type="text"><button>GO</button></div>
    </div>
    
</div>

</@frame>