<div class="sys_nav01">
     <a href="${base}/admin/user/userIndex.html" class="">注册用户管理</a>
     <a href="${base}/admin/user/adminList.html" class="">管理员</a>
     <#--<a href="${base}/admin/user/userEdit.html" class="">添加会员</a>
     <a href="${base}/admin/user/userGroupManage.html" class="">会员组管理</a>
     <a href="${base}/admin/user/roleManage.html" class="">角色管理</a>
     <a href="#" class="">权限组管理</a> 
     <a href="${base}/admin/user/departManage.html" class="">部门管理</a>
     <a href="#" class="">账户管理</a>-->
    
     <#--
     <a href="${base}/admin/user/logManage.html" class="">登录日志</a>
     <a href="${base}/admin/user/logManage.html" class="">操作日志</a>
     <a href="${base}/admin/user/websiteMsg.html" class="">站内信</a>
     -->
</div>