 <#include "admin/common/frame.html">
<link rel="stylesheet" type="text/css" href="${base}/res/bhecms/css/systemUser.css">
<link rel="stylesheet" type="text/css" href="${base}/res/bhecms/css/system.css">
<@frame>
 <div class="wel_content">
    	<div class="sys_title">用户管理</div>
     	<#include "admin/user/nav.html">
        <div class="clear"></div>
                                                                          <!--站内信-->
	<div class="house">
		<div class="hou_nav">
	   	<div><span class="hou_span">ID</span><span class="hou_span">发件人</span><span class="hou_time">标题</span><span class="hou_span">时间</span></div>
	       <div class="hou_content">
	       	<p><input type="checkbox"><span class="houcon_span">12345</span><span class="houcon_span">张三三</span><span class="houcon_time">该还钱了,快换！</span><span class="houcon_span">2015-07-20</span></p>
	           <p><input type="checkbox"><span class="houcon_span">12345</span><span class="houcon_span">张三三</span><span class="houcon_time">该还钱了,快换！</span><span class="houcon_span">2015-07-20</span></p>
	           <p><input type="checkbox"><span class="houcon_span">12345</span><span class="houcon_span">张三三</span><span class="houcon_time">该还钱了,快换！</span><span class="houcon_span">2015-07-20</span></p>
	           <p><input type="checkbox"><span class="houcon_span">12345</span><span class="houcon_span">张三三</span><span class="houcon_time">该还钱了,快换！</span><span class="houcon_span">2015-07-20</span></p>
	           <p><input type="checkbox"><span class="houcon_span">12345</span><span class="houcon_span">张三三</span><span class="houcon_time">该还钱了,快换！</span><span class="houcon_span">2015-07-20</span></p>
	           <p><input type="checkbox"><span class="houcon_span">12345</span><span class="houcon_span">张三三</span><span class="houcon_time">该还钱了,快换！</span><span class="houcon_span">2015-07-20</span></p>
	           <p><input type="checkbox"><span class="houcon_span">12345</span><span class="houcon_span">张三三</span><span class="houcon_time">该还钱了,快换！</span><span class="houcon_span">2015-07-20</span></p>
	       	<div class="paging"><button>首页</button><button>1</button><span>转到</span><input type="text"><button>GO</button></div>
	       </div>
	       <div class="hou_btn">
	       	<button>新增</button><button>删除</button><button>物理删除</button><button>收件箱管理</button><button>发件箱管理</button>
	      	</div>
	   </div>	
	</div>

</div>
</@frame>