<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>添加产品</title>
<link  href="css/adminIndex.css" type="text/css"  rel="stylesheet"/>
<link  href="css/articleManage.css" type="text/css" rel="stylesheet"/>
</head>

<body>
	<div class="welcom">
    	<div class="wel_content">
        	<form>
                <p class="release">
                    <label>参考价：</label>            
                    <input  type="text" class="txtvalue"/>
                </p>
                <p class="release">
                    <label>一口价：</label>            
                    <input  type="text" class="txtvalue"/>
                </p>               
                 <p class="release">
                    <label>促销：</label>
                   <select>
                        <option>请选择</option>
                        <option>普通商品</option>
                        <option>限时抢购</option>
                        <option>限量抢购</option>
                        <option>积分兑换</option>
                        <option>按用户组定价</option>
                        <option>换购商品</option>
                        <option>竞价</option>
                    </select>          
                </p>
                <div class="clear"></div>
                <p class="release">
                    <label>支付限制：</label>
                    <input  type="radio" class="rdotype" checked="checked"/> 全额 <input  type="radio" class="rdotype"/> 只允许定金  <input  type="radio" class="rdotype"/> 定金不能少于<input  type="text" class="txtvalue"/>         
                </p>
                <p class="release">
                    <label>收款账号：</label>
                    <input  type="text" class="txtvalue"/>           
                </p>
                <p class="release">
                    <label style="width:133px;">是否参与登场活动促销：</label>
                    <input  type="radio" class="rdotype" checked="checked"/> 是 <input  type="radio" class="rdotype"/> 否     
                </p>
                <div class="clear"></div>
               <p class="release">
                    <label style="width:133px;">是否参与用户组折扣：</label>
                    <input  type="radio" class="rdotype" checked="checked"/> 是 <input  type="radio" class="rdotype"/> 否     
                </p>
                <div class="clear"></div>
                <p class="release">
                    <label>价格含税：</label>
                   <input  type="text" class="txtvalue"/>         
                </p>
                 <p class="release">
                    <label>当前库存设置：</label>
                    <input  type="text" class="txtvalue"/>           
                </p>
                 <p class="release">
                    <label>库存警报：</label>
                    <input  type="text" class="txtvalue"/>           
                </p>
                 <p class="release">
                    <label>启用预约码限制：</label>
                    <input  type="text" class="txtvalue"/>           
                </p>
                 <p class="release">
                    <label>每个城市限售：</label>
                    <input  type="text" class="txtvalue"/>           
                </p>
                 <p class="release">
                    <label>订购数量最少数量：</label>
                    <input  type="text" class="txtvalue"/>           
                </p>
                 <p class="release">
                    <label>订购最多数量：</label>
                    <input  type="text" class="txtvalue"/>           
                </p>
                 <p class="release">
                    <label>赠送积分：</label>
                    <input  type="text" class="txtvalue"/>           
                </p>
                 <p class="release">
                    <label>开启规格属性：</label>
                    <input  type="radio" class="rdotype" checked="checked"/> 是 <input  type="radio" class="rdotype"/> 否      
                </p>
                 
                 
                <input type="submit" value="提交" />
                <input  type="reset" value="重置"/>
                <input  type="button" value="定时提交"/>
            </form>
        </div>
    </div>

</body>
</html>
