<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新增产品商品规格</title>
<link  href="css/adminIndex.css" type="text/css"  rel="stylesheet"/>
<link  href="css/articleManage.css" type="text/css" rel="stylesheet"/>
</head>

<body>
	<div class="welcom">
    	<div class="wel_content">
        	<form>
                <p class="release">
                    <label>货号：</label>            
                    <input  type="text" class="txtvalue"/>
                </p>
                <p class="release">
                    <label>市场价：</label>            
                    <input  type="text" class="txtvalue"/>
                </p>
                <p class="release">
                    <label>销售价：</label>            
                    <input  type="text" class="txtvalue"/>
                </p>
                <p class="release">
                    <label>库存：</label>            
                    <input  type="text" class="txtvalue"/>
                </p>
                <p class="release">
                    <label>重量：</label>            
                    <input  type="text" class="txtvalue"/>
                </p>
                <p class="release">
                    <label>颜色：</label>            
                    <input  type="text" class="txtvalue"/>
                </p> 
                 
                <input type="submit" value="提交" />
                <input  type="reset" value="重置"/>
                <input  type="button" value="定时提交"/>
            </form>
        </div>
    </div>

</body>
</html>
