<#include "admin/common/frame.html">
<link rel="stylesheet" type="text/css"
	href="${base}/res/bhecms/css/admin/productManage.css">
<link rel="stylesheet" type="text/css" href="${base}/res/bhecms/css/articleManage.css">
<@frame>
<link rel="stylesheet" type="text/css" href="${base}/res/common/jqpagination/css/jqpagination.css">
<div class="welcom">
	<div class="artLocation">您当前的位置：商品管理>批量调价</div>
	<div class="wel_content">	
		<div class="art_list">
			<div class="art_list_all">
			
				<div class="artListAll001">			
					
					<div class="productSearchall">
						<div class="left marb10" >
								筛选： 
							 <select id="customerSelect" >
								<option value = "-1">全部类别</option>
							</select>				
							商品名称/型号：
							<input type="text" class="js_search txtsearch" value="${param}"/><input type="button" class="btnsearch btn_search" value="搜索"/>
						</div>	
					</div>
					<div class="clear"></div>
					<table width="98%" border="0" cellspacing="0" cellpadding="0"
						class="art_table productTable">
						<tr>
							<th>行号</th>
							<th>商品型号</th>
							<th>商品名称</th>
							<th>单价（元）</th>							
							<th>操作</th>
						</tr>
						
						<#assign entityList=pageInfoMap.list />  
						<#list entityList as entity>
							<tr>
								<td>${entity.rowno}</td>
								<td>${entity.modelname}</td>
								<td>${entity.namecn}</td>
								<td><input type="text" uuid="${entity.uuid}" value="${entity.price}" class="txtSimplePrice"/></td>
								<td><input type="button" class="btnsearch" onclick = 'update(this)' value="提交"/></td>
							</tr>
						</#list>
						
					</table>
				</div>
			</div>
		</div>
		<div class="mart15">
			<div class="batchOperation">
				<a href="javascript:updates()">批量提交</a>
			</div>
			 <div class="pagination right">
			    <a href="#" class="first" data-action="first">&laquo;</a>
			    <a href="#" class="previous" data-action="previous">&lsaquo;</a>
			    <input type="text" readonly="readonly" data-max-page="${pageInfoMap.countpage}" />
			    <a href="#" class="next" data-action="next">&rsaquo;</a>
			    <a href="#" class="last" data-action="last">&raquo;</a>
		</div>
		</div>
	</div>
</div>

</@frame>
<script type="text/javascript" src="${base}/res/bhecms/js/admin/product/productBrand .js"></script>
<script type="text/javascript" src="${base}/res/common/jqpagination/js/jquery.jqpagination.min.js"  ></script>
<script type="text/javascript" src="${base}/res/bhecms/js/admin/base.js"></script>
<script>

$.ajax({
	type: "post",
	url: "${base}/admin/product/getProductCategoryForTree.html",
	data:{
	},
	dataType:'json',
	success:function(data){
		for(var i = 0 ; i < data[0].length ; i++){
			data1=data[0][i];
			$("#customerSelect").append("<optgroup label="+data1.namecn+"></optgroup >")
			if(data[data1.id] != undefined){
				for ( var j = 0 ; j < data[data1.id].length ; j++) {
					$("#customerSelect").append("　<option value="+data[data1.id][j].id+" namecn="+data[data1.id][j].namecn+">----"+data[data1.id][j].namecn+"</option>")
				} 
			}
		}
		$('#customerSelect').val('${type}' == '' ? -1 : '${type}');
	}
});



$('.pagination').jqPagination({
	current_page:'${pageInfoMap.pageindex???string(pageInfoMap.pageindex,1)}',
	max_page:'${pageInfoMap.countpage???string(pageInfoMap.countpage,1)}',
    paged: function(page) {
    	window.location.href = "${base}/admin/product/tobatchprice.html?pageindex="
			+ page + "&pagesize=15"+"&param="+$('.js_search').val()+"&type="+$('#customerSelect option:selected').val();
			}
});

function delProBran(id){
	$.ajax({
		type:"post",
		url:"${base}/admin/product/delProBrand.html",
		data:{
			nos:id
		},
		dataType:'json',
		success:function(data){
			if(data.returned == 0){
				alert(data.msg);
			}else{
				window.location.href="${base}/admin/product/productBrandManage.html";
			}
		}
		
	});
}
//条件查询
$('.btn_search').click(function(){
	var param = $('.js_search').val();
	var type = $('#customerSelect option:selected').val();
	window.location.href = '${base}/admin/product/tobatchprice.html?&param=' + param+"&type="+type;
	 
});

//批量提交
function updates(){
	var prices = $(".txtSimplePrice");
	var jsonprices = [];
	for (var i = 0; i < prices.length; i++) {
		var jsonprice = {}; 
		var price = $(prices[i]).val();
		var uuid = $(prices[i]).attr("uuid");
		jsonprice.price = price;
		jsonprice.uuid = uuid;
		jsonprices.push(jsonprice);
	}
	var jsonstr = JSON.stringify(jsonprices);
	updataSub(jsonstr);
}

//提交单个价格
function update(_this){
	var jsonprices = [];
	var jsonprice = {}; 
	
	var prices = $(_this).parent().parent().find(".txtSimplePrice");
	var uuid = $(prices[0]).attr("uuid");
	var price = $(prices[0]).val();
	jsonprice.price = price;
	jsonprice.uuid = uuid;
	jsonprices.push(jsonprice);
	
	var jsonstr = JSON.stringify(jsonprices);
	updataSub(jsonstr);
}

//提交调价
function updataSub(jsonprices){
	if(confirm("确认提交?")){
	$.ajax({
		type:"post",
		url:"${base}/admin/product/batchPrice.html",
		data:{
			param:jsonprices
		},
		dataType:'json',
		success:function(data){
			window.location.href="${base}/admin/product/tobatchprice.html";
		}
	});
	}else{
		window.location.href="${base}/admin/product/tobatchprice.html?param="+$('.js_search').val();
	}
}

</script>
