<div class="menu">

	<div class="product">
		<div class="article_title">商品管理</div>
		<div class="article_list" >
			<div class="list01">
				<a href="${base}/admin/product/productManage.html"  <@sets.setCurr currIndex 1 />>商品列表</a>
			</div>
			<div class="list01">
				<a href="${base}/admin/product/productBrandManage.html"  <@sets.setCurr currIndex 2 />>商品品牌</a>
			</div>
			<div class="list01">
				<a href="${base}/admin/product/productCategory.html" <@sets.setCurr currIndex 3 />>商品分类</a>
			</div>
			<!-- <div class="list01">
				<a href="${base}/admin/product/ProductClassManage.html" <@sets.setCurr currIndex 4 />>商品类型</a>
			</div> -->
			<!-- <div class="list01">
				<a href="${base}/admin/system/systemIndex.html">商品属性</a>
			</div> -->
			<!-- <div class="list01">
				<a href="${base}/admin/system/systemIndex.html">添加商品</a>
			</div> -->
			<!-- <div class="list01">
				<a href="${base}/admin/product/ProDustbinManager.html" <@sets.setCurr currIndex 5 />>产品垃圾箱</a>
			</div> -->
			<!-- <div class="list01">
				<a href="${base}/admin/system/systemIndex.html">代售商品管理</a>
			</div> -->
			<!-- <div class="list01">
				<a href="${base}/admin/product/productMaterial.html" <@sets.setCurr currIndex 9 />>物流公司管理</a>
			</div> -->
			<!-- <div class="list01">
				<a href="${base}/admin/system/systemIndex.html">发货地址管理</a>
			</div> -->
			
			<div class="list01">
				<a href="${base}/admin/product/tobatchprice.html" <@sets.setCurr currIndex 11 />>批量调价</a>
			</div>
			<div class="list01">
				<a href="${base}/admin/product/toProductFilter.html" <@sets.setCurr currIndex 12 />>条件筛选</a>
			</div>
			<div class="list01">
				<a href="${base}/admin/product/toInquiriesManager.html" <@sets.setCurr currIndex 13 />>商品询价</a>
			</div>
		</div>
	</div>
</div>
