<#include "admin/common/frame.html">
<link rel="stylesheet" type="text/css"
	href="${base}/res/bhecms/css/admin/productManage.css">
<@frame>
	<div class="welcom">
    	<div class="wel_content">
        	<div class="art_list">          	
              
                	<div class="artListAll001">
               			 <table width="100%" border="0"  cellspacing="0" cellpadding="0" class="art_table">
                            <tr>
                                <th width="35px" ><input  type="checkbox"/></th>                                
                                <th>服务品牌</th>
                                <th>物流公司</th>
                                <th>联系方式</th>
                                <th>经营线路</th>
                                <th>点评评价</th>                               
                                 <th>操作</th>
                            </tr>
                            <tr>
                                <td width="35"><input  type="checkbox"/></td>
                                <td><a href="#">快递品牌</a></td>
                                <td>百居易电子商务有限公司</td>
                                <td>13983070153</td>
                                <td>203条</td>
                                <td>好评</td>
                                <td><a href="#">收藏</a> | <a href="#">详情</a></td>
                            </tr>
                            <tr>
                                <td width="35"><input  type="checkbox"/></td>
                                <td><a href="#">快递品牌</a></td>
                                <td>百居易电子商务有限公司</td>
                                <td>13983070153</td>
                                <td>203条</td>
                                <td>好评</td>
                                <td><a href="#">收藏</a> | <a href="#">详情</a></td>
                            </tr>
                            <tr>
                                <td width="35"><input  type="checkbox"/></td>
                                <td><a href="#">快递品牌</a></td>
                                <td>百居易电子商务有限公司</td>
                                <td>13983070153</td>
                                <td>203条</td>
                                <td>好评</td>
                                <td><a href="#">收藏</a> | <a href="#">详情</a></td>
                            </tr>
                            <tr>
                                <td width="35"><input  type="checkbox"/></td>
                                <td><a href="#">快递品牌</a></td>
                                <td>百居易电子商务有限公司</td>
                                <td>13983070153</td>
                                <td>203条</td>
                                <td>好评</td>
                                <td><a href="#">收藏</a> | <a href="#">详情</a></td>
                            </tr>
                            <tr>
                                <td width="35"><input  type="checkbox"/></td>
                                <td><a href="#">快递品牌</a></td>
                                <td>百居易电子商务有限公司</td>
                                <td>13983070153</td>
                                <td>203条</td>
                                <td>好评</td>
                                <td><a href="#">收藏</a> | <a href="#">详情</a></td>
                            </tr>
                            <tr>
                                <td width="35"><input  type="checkbox"/></td>
                                <td><a href="#">快递品牌</a></td>
                                <td>百居易电子商务有限公司</td>
                                <td>13983070153</td>
                                <td>203条</td>
                                <td>好评</td>
                                <td><a href="#">收藏</a> | <a href="#">详情</a></td>
                            </tr>
                            <tr>
                                <td width="35"><input  type="checkbox"/></td>
                                <td><a href="#">快递品牌</a></td>
                                <td>百居易电子商务有限公司</td>
                                <td>13983070153</td>
                                <td>203条</td>
                                <td>好评</td>
                                <td><a href="#">收藏</a> | <a href="#">详情</a></td>
                            </tr>
                        
                        </table>
                	</div>
               
                 <div class="paging"><button>首页</button><button>1</button><span>转到</span><input type="text"><button>GO</button></div>
            
            </div>
        </div>
    </div>
 </@frame>
<script>
	$(document).ready(function(){
							   //给标题加上背景色以及鼠标移动到某一行的事加上背景色
							   $(".art_table tr:first-child").css("background-color","#f3f7fb");
							   $(".art_table tr:not(:first-child)").hover(function(){
															 $(this).css("background-color","#f3f7fb");
															 },function(){
																 $(this).css("background-color","#fff");
															 });							   							   
							   
							   });

</script>
