<#include "admin/common/frame.html">
<link rel="stylesheet" type="text/css" href="${base}/res/bhecms/css/articleManage.css">
<@frame> 

<div class="wel_content">
        	<div class="art_list">            	
                <div class="art_list_all">
                	<div class="artListAll001">
                    	<div>
                        	<input  type="text" class="textSelect"/><input  type="button" value="查询"/>                    
                            列表分类：
                            <select>
                                <option>所有</option>
                                <option>未审核</option>
                                <option>已审核</option>
                                <option>抢购品</option>
                                <option>积分兑换</option>
                                <option>换购</option>
                                <option>库存少于N件</option>
                            </select>
                            属性：
                            <select>
                                <option>推荐</option>
                                <option>热点</option>
                                <option>精彩</option>
                                <option>头条</option>
                                <option>滚动</option>
                                <option>幻灯</option>
                            </select>
                        </div>
                    
                <table width="100%" border="0"  cellspacing="0" cellpadding="0" class="art_table">
                	<tr>
                    	<th width="35px" ><input  type="checkbox"/></th>
                        <th>编号</th>
                        <th>名称</th>
                        <th>更新时间</th>
                        <th>状态</th>
                        <th>点击数</th>
                        <th>录入者</th>
                        <th>操作</th>
                    </tr>
                    <tr>
                    	<td width="35"><input  type="checkbox"/></td>
                        <td><a href="#">KD1000123</a></td>
                        <td>[国内] KESION 在线网校系统管理系统全解</td>
                        <td>2015-07-21</td>
                        <td>待审核</td>
                        <td>522</td>
                        <td>张三</td>
                        <td><a href="#">查看</a> | <a href="articleRelease.html" >修改</a> | <a href="#">上架</a> | <a href="#">删除</a> | <a href="#">物理删除</a></td>
                    </tr>
                    <tr>
                    	<td width="35"><input  type="checkbox"/></td>
                        <td><a href="#">KD1000123</a></td>
                        <td>[国内] KESION 在线网校系统管理系统全解</td>
                        <td>2015-07-21</td>
                        <td>待审核</td>
                        <td>522</td>
                        <td>张三</td>
                        <td><a href="#">查看</a> | <a href="articleRelease.html" >修改</a> | <a href="#">上架</a> | <a href="#">删除</a> | <a href="#">物理删除</a></td>
                    </tr>
                    <tr>
                    	<td width="35"><input  type="checkbox"/></td>
                        <td><a href="#">KD1000123</a></td>
                        <td>[国内] KESION 在线网校系统管理系统全解</td>
                        <td>2015-07-21</td>
                        <td>待审核</td>
                        <td>522</td>
                        <td>张三</td>
                        <td><a href="#">查看</a> | <a href="articleRelease.html" >修改</a> | <a href="#">上架</a> | <a href="#">删除</a> | <a href="#">物理删除</a></td>
                    </tr>
                    <tr>
                    	<td width="35"><input  type="checkbox"/></td>
                        <td><a href="#">KD1000123</a></td>
                        <td>[国内] KESION 在线网校系统管理系统全解</td>
                        <td>2015-07-21</td>
                        <td>待审核</td>
                        <td>522</td>
                        <td>张三</td>
                        <td><a href="#">查看</a> | <a href="articleRelease.html" >修改</a> | <a href="#">上架</a> | <a href="#">删除</a> | <a href="#">物理删除</a></td>
                    </tr>
                    <tr>
                    	<td width="35"><input  type="checkbox"/></td>
                        <td><a href="#">KD1000123</a></td>
                        <td>[国内] KESION 在线网校系统管理系统全解</td>
                        <td>2015-07-21</td>
                        <td>待审核</td>
                        <td>522</td>
                        <td>张三</td>
                        <td><a href="#">查看</a> | <a href="articleRelease.html" >修改</a> | <a href="#">上架</a> | <a href="#">删除</a> | <a href="#">物理删除</a></td>
                    </tr>
                    <tr>
                    	<td width="35"><input  type="checkbox"/></td>
                        <td><a href="#">KD1000123</a></td>
                        <td>[国内] KESION 在线网校系统管理系统全解</td>
                        <td>2015-07-21</td>
                        <td>待审核</td>
                        <td>522</td>
                        <td>张三</td>
                        <td><a href="#">查看</a> | <a href="articleRelease.html" >修改</a> | <a href="#">上架</a> | <a href="#">删除</a> | <a href="#">物理删除</a></td>
                    </tr>
                    <tr>
                    	<td width="35"><input  type="checkbox"/></td>
                        <td><a href="#">KD1000123</a></td>
                        <td>[国内] KESION 在线网校系统管理系统全解</td>
                        <td>2015-07-21</td>
                        <td>待审核</td>
                        <td>522</td>
                        <td>张三</td>
                        <td><a href="#">查看</a> | <a href="articleRelease.html" >修改</a> | <a href="#">上架</a> | <a href="#">删除</a> | <a href="#">物理删除</a></td>
                    </tr><tr>
                    	<td width="35"><input  type="checkbox"/></td>
                        <td><a href="#">KD1000123</a></td>
                        <td>[国内] KESION 在线网校系统管理系统全解</td>
                        <td>2015-07-21</td>
                        <td>待审核</td>
                        <td>522</td>
                        <td>张三</td>
                        <td><a href="#">查看</a> | <a href="articleRelease.html" >修改</a> | <a href="#">上架</a> | <a href="#">删除</a> | <a href="#">物理删除</a></td>
                    </tr>
                    <tr>
                    	<td width="35"><input  type="checkbox"/></td>
                        <td><a href="#">KD1000123</a></td>
                        <td>[国内] KESION 在线网校系统管理系统全解</td>
                        <td>2015-07-21</td>
                        <td>待审核</td>
                        <td>522</td>
                        <td>张三</td>
                        <td><a href="#">查看</a> | <a href="articleRelease.html" >修改</a> | <a href="#">上架</a> | <a href="#">删除</a> | <a href="#">物理删除</a></td>
                    </tr><tr>
                    	<td width="35"><input  type="checkbox"/></td>
                        <td><a href="#">KD1000123</a></td>
                        <td>[国内] KESION 在线网校系统管理系统全解</td>
                        <td>2015-07-21</td>
                        <td>待审核</td>
                        <td>522</td>
                        <td>张三</td>
                        <td><a href="#">查看</a> | <a href="articleRelease.html" >修改</a> | <a href="#">上架</a> | <a href="#">删除</a> | <a href="#">物理删除</a></td>
                    </tr>                 
                    
                                                     
                
                </table>
                	
                	</div>
                   
                </div>
                 <div class="paging"><button>首页</button><button>1</button><span>转到</span><input type="text"><button>GO</button></div>
            
            </div>
        </div>
        
        <script>
	$(document).ready(function(){
							   //给标题加上背景色以及鼠标移动到某一行的事加上背景色
							   $(".art_table tr:first-child").css("background-color","#f3f7fb");
							   $(".art_table tr:not(:first-child)").hover(function(){
															 $(this).css("background-color","#f3f7fb");
															 },function(){
																 $(this).css("background-color","#fff");
															 });
							   //切换选项卡							 
								$(".art_list_all>.artListAll001:not(:first-child)").hide();
								$('.art_header ul li').click(function(){										
										$(this).addClass('art_on').siblings().removeClass('art_on');
										$('.art_list_all>div:eq('+$(this).index()+')').show().siblings().hide();	
									});
							
							   $(".art_header ul li:first-child").addClass("art_on");
							   
							   
							   });

</script>

</@frame>