<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>添加类型</title>
<link  href="css/adminIndex.css" type="text/css"  rel="stylesheet"/>
<link  href="css/articleManage.css" type="text/css" rel="stylesheet"/>
</head>

<body>
	
	<div class="welcom">
    	<div class="wel_content">
        	<form>
                <p class="release">
                    <label>类型名称：</label>            
                    <input  type="text" class="txtvalue"/>
                </p>
                <p class="release">
                    <label>规格属性：</label>
                    <input  type="text" class="txtvalue"/>            
                </p>
                <p class="release">
                    <label>商品规格名称：</label>
                   <input  type="text" class="txtvalue"/>         
                </p>
                 <p class="release">
                    <label>显示类型：</label>
                   <select>
                        <option>请选择</option>
                        <option>文字</option>
                        <option>图片</option>
                    </select>          
                </p>
                <div class="clear"></div>
                <p class="release">
                    <label>序号：</label>
                    <input  type="text" class="txtvalue"/>           
                </p>
                <p class="release">
                    <label>属性名称：</label>
                    <input  type="text" class="txtvalue"/>            
                </p>
                 
                <input type="submit" value="提交" />
                <input  type="reset" value="重置"/>
                <input  type="button" value="定时提交"/>
            </form>
        </div>
    </div>

</body>
</html>
