<#include "admin/common/frame.html">
<link rel="stylesheet" type="text/css" href="${base}/res/bhecms/css/system.css">
<link rel="stylesheet" type="text/css" href="${base}/res/bhecms/css/systemUser.css">
<link rel="stylesheet" type="text/css" href="${base}/res/bhecms/css/systemOrder.css">
<@frame> 
	<div class="wel_content">
		<div class="check_top">
    		<span>订单号：${order.orderno}</span>
    		<span>订单状态：
    		<#switch order.auditstatus>
   				<#case 0>
   				待审核
   				<#break>
   				<#case 1>
   				已通过
   				<#break>
   				<#default>
   				已退回
   			</#switch>
    		</span>
    		<span>下单时间：${order.createtime?datetime}</span>
    	</div>
     	<div class="check_order">
     		<p>买家信息：</p>
     		<div class="order_value">
     			<span>账号：${userInfo.username}</span>
     			<span>姓名/公司名称：${userDetailInfo.namecn}</span>
     			<span>联系电话：${userInfo.phone}</span>
     		</div>
     		<p>收货信息：</p>
     		<div class="order_value">
     			<span>收货人：${order.buyername}</span>
     			<span>联系电话：${order.buyerphone}</span>
     			<span>收货地址：${order.conuntry+order.province+order.city+order.districts+order.address}</span>
     		</div>
     		<p>备注信息：</p>
     		<div class="order_value">
     			<span>买家留言：${order.leavemsg}</span>
     		</div>
     		<div class="check_title">订单信息</div>
     	</div>
     	<div class="check_btn right"><a href="orderLeaseBasicInfo.html?orderCode=${order.orderno}">修改基本信息</a></div>
     	<div class="check_product">
     		<table width="99%" cellpadding="0" cellspacing="0" border="1">
     		<tr class="check_tab01">
     			<td>序号</td>
     			<td>商品型号</td>
     			<td>商品名称</td>
     			<td>租赁数量（台）</td>
     			<td>租赁时间</td>
     			<td>备注</td>
     		</tr>
     		 <#if (orderDetailListCount>0)>
	          	<#list orderDetailMap as map>
		     		<tr>
		     			<td>${map_index+1}</td>
		     			<td>${map['modelName']}</td>
		     			<td>${map['productName']}</td>
		     			<td>${map['count']}</td>
		     			<td>${map['renttime']+map['rentunit']}</td>
		     			<td>无</td>	
		     		</tr>
	          	</#list>
	        </#if>	
     		</table>
     		<p><a href="javascript:void(0)">查看租赁条款</a></p>
     		<div class="check_title">商品信息</div>
     	</div>
     	<div class="check_btn right"><a href="orderLeaseProductInfo.html?orderCode=${order.orderno}">修改产品信息</a></div>
     	<#if order.auditstatus==0>
     	 <div class="check_btn01 js-upstatus">
	     	 <a href="javascript:void(0)"  data="pass">通过审核</a>
	     	 <a href="javascript:void(0)" data="notpass">不通过</a>
     	 </div>
		</#if>
     	</div>

</@frame>
<script>

$(function(){
	<#if order.auditstatus==0>
	$("div.js-upstatus").find("a").click(function(){
		var text="";
	    var data=$(this).attr("data");
		if(data=="pass"){
			text="确定通过该订单审核？"	
		}else{
			text="不通过？"	
		}
		   if(confirm(text)){
			$.post("updateOrderStatus.html", {"auditresult":data,"orderId":"${order.id}"},
				function(data){
					if(data.result){
						alert("操作成功");
						window.location.reload(true);
					}else{
						alert("操作失败");
					}
				},"json");
		   }
	});
	</#if>
})


</script>
