<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>系统管理--全局配置</title>
<link rel="stylesheet" type="text/css" href="css/adminIndex.css">
<link rel="stylesheet" type="text/css" href="css/system.css">
<link rel="stylesheet" type="text/css" href="css/systemUser.css">
<link rel="stylesheet" type="text/css" href="css/systemOrder.css">
</head>

<body>
<div class="welcom">
	<div class="wel_content">
    	<div class="sys_title">用户评价</div>
        <div class="clear"></div>
        																				 <!--用户评价-->
        <div class="value_content">
        	<div class="one_value">
            	<div class="cus_name"><input type="checkbox"><span>张小三</span></div>
                <div class="value_text">该产品不是很好用，又贵不好用不用不好用不要。。。。。</div>
                <div class="cus_time"><span>2015-07-22</span><button>删除</button></div>
            </div>
            <div class="one_value">
            	<div class="cus_name"><input type="checkbox"><span>张小三</span></div>
                <div class="value_text">该产品不是很好用，又贵不好用不用不好用不要。。。。。</div>
                <div class="cus_time"><span>2015-07-22</span><button>删除</button></div>
            </div>
            <div class="one_value">
            	<div class="cus_name"><input type="checkbox"><span>张小三</span></div>
                <div class="value_text">该产品不是很好用，又贵不好用不用不好用不要。。。。。</div>
                <div class="cus_time"><span>2015-07-22</span><button>删除</button></div>
            </div>
            <div class="one_value">
            	<div class="cus_name"><input type="checkbox"><span>张小三</span></div>
                <div class="value_text">该产品不是很好用，又贵不好用不用不好用不要。。。。。</div>
                <div class="cus_time"><span>2015-07-22</span><button>删除</button></div>
            </div>
            <div class="one_value">
            	<div class="cus_name"><input type="checkbox"><span>张小三</span></div>
                <div class="value_text">该产品不是很好用，又贵不好用不用不好用不要。。。。。</div>
                <div class="cus_time"><span>2015-07-22</span><button>删除</button></div>
            </div>
            <div class="one_value">
            	<div class="cus_name"><input type="checkbox"><span>张小三</span></div>
                <div class="value_text">该产品不是很好用，又贵不好用不用不好用不要。。。。。</div>
                <div class="cus_time"><span>2015-07-22</span><button>删除</button></div>
            </div>
            <div class="one_value">
            	<div class="cus_name"><input type="checkbox"><span>张小三</span></div>
                <div class="value_text">该产品不是很好用，又贵不好用不用不好用不要。。。。。</div>
                <div class="cus_time"><span>2015-07-22</span><button>删除</button></div>
            </div>
        </div>
         <div class="paging"><button>首页</button><button>1</button><span>转到</span><input type="text"><button>GO</button></div>											         
    </div>
	<div class="wel_footer"><span class="title02">&nbsp;&nbsp;操作导航：</span><span>系统管理中心>>首页</span></div>
</div>
</body>
</html>
