<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<link rel="stylesheet" type="text/css" href="css/adminIndex.css">
<link rel="stylesheet" type="text/css" href="css/system.css">
<link rel="stylesheet" type="text/css" href="css/systemUser.css">
<link rel="stylesheet" type="text/css" href="css/systemOrder.css">
</head>
<body>
<div class="wel_content">
	<div class="sys_title">现货订单管理</div>
    <div class="sys_nav01"><a href="" class="">多类型订单</a><a href="" class="">单类型订单</a><a href="" class="">预定订单</a><a href="" class="">预购订单</a></div>
    <div class="clear"></div>
    <div class="multi_title">
       <span class="mul_title01">商品信息</span><span>单价</span><span class="mul_title02">数量</span><span class="mul_title02">总价</span><span class="mul_title03">收货人信息</span><span class="mul_title04">交易状态</span><span span class="mul_title04">附加留言</span>
    </div> 
    <table border="1" cellspadding="0px" cellspcing="0px" class="user_list">
    	<tr>
    		<td><input type="checkbox">&nbsp;&nbsp;<span>2015-07-21</span><span class="mul_title02">订单号：2011043107</span></td>
    		<td colspan="6" style="text-align:right;"><button>删除</button></td>
    	</tr>
    	<tr>
    		<td class="tab_01">
            <div class="mul_prol">
               <div class="mul_img01"><img src="images/pro_01.png"></div>
               <div class="mul_name"><p>2015夏季新款女包</p><p>包装信息：采用塑胶包装材料</p></div>
            </div>
            </td>
    		<td class="tab_02">￥125.00</td>
            <td class="tab_02">1</td>
            <td rowspan="2" class="tab_02">250.00</td>
    		<td class="tab_03">
            <div class="mul_pror">
            	<p>昵称：张小三</p><p>真实姓名：张三</p><p>收货地址：金童路线外商界13栋</p>
            	<p>联系电话：15245687421</p><p>电子邮件：12345678@qq.com</p><p>支付宝：15245687421</p></div>
            </td>
    		<td class="tab_03"><div class="mul_prot"><p>已发货</p><p>物流信息：</p><p>韵达快递</p><p>订单号：183764647748484</p></div></td>
    		<td class="tab_03"><textarea></textarea></td>
    	</tr>
    	<tr>
    		<td class="tab_01">
            <div class="mul_prol">
               <div class="mul_img01"><img src="images/pro_01.png"></div>
               <div class="mul_name"><p>2015夏季新款女包</p><p>包装信息：采用塑胶包装材料</p></div>
            </div>
            </td>
    		<td class="tab_02">￥125.00</td>
            <td class="tab_02">1</td>
    		<td class="tab_03">
            <div class="mul_pror">
            	<p>昵称：张小三</p><p>真实姓名：张三</p><p>收货地址：金童路线外商界13栋</p>
            	<p>联系电话：15245687421</p><p>电子邮件：12345678@qq.com</p><p>支付宝：15245687421</p></div>
            </td>
    		<td class="tab_03"><div class="mul_prot"><p>已发货</p><p>物流信息：</p><p>韵达快递</p><p>订单号：183764647748484</p></div></td>
    		<td class="tab_03"><textarea></textarea></td>
    	</tr>
    </table>   
    
    
    
<table border="1" cellspadding="0px" cellspcing="0px" class="user_list">
    	<tr>
    		<td><input type="checkbox">&nbsp;&nbsp;<span>2015-07-21</span><span class="mul_title02">订单号：2011043107</span></td>
    		<td colspan="6" style="text-align:right;"><button>删除</button></td>
    	</tr>
    	<tr>
    		<td class="tab_01">
            <div class="mul_prol">
               <div class="mul_img01"><img src="images/pro_01.png"></div>
               <div class="mul_name"><p>2015夏季新款女包</p><p>包装信息：采用塑胶包装材料</p></div>
            </div>
            </td>
    		<td class="tab_02">￥125.00</td>
            <td class="tab_02">1</td>
            <td rowspan="2" class="tab_02">250.00</td>
    		<td class="tab_03">
            <div class="mul_pror">
            	<p>昵称：张小三</p><p>真实姓名：张三</p><p>收货地址：金童路线外商界13栋</p>
            	<p>联系电话：15245687421</p><p>电子邮件：12345678@qq.com</p><p>支付宝：15245687421</p></div>
            </td>
    		<td class="tab_03"><div class="mul_prot"><p>已发货</p><p>物流信息：</p><p>韵达快递</p><p>订单号：183764647748484</p></div></td>
    		<td class="tab_03"><textarea></textarea></td>
    	</tr>
</table>
</div>        
</body>
</html>
