<#include "web/common/frame.html">
<link rel="stylesheet" type="text/css" href="${base}/res/web/css/index.css">
<link rel="stylesheet" type="text/css" href="${base}/res/web/css/carousel.css">
<link rel="stylesheet" type="text/css" href="${base}/res/web/css/productInformation.css">
<link rel="stylesheet" type="text/css" href="${base}/res/web/css/productSale.css">
<link rel="stylesheet" type="text/css" href="${base}/res/web/css/company.css">


<@frame>
		<div class="everyTopImage">
			<img src="${base}/res/web/images/topbg_01.png" width="1920" height="721"/>	
		</div>
		<div class="wind1200">
			<div class="singleContent mart15">
				<div class="singleTitle">${entity.title}</div>
				<div class="singleContent01">
					${entity.content}
				</div>
			</div>
		
		</div>
</@frame>
