<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bhe.dao.mybatis.mapper.ProductMaterialEntityMapper" >
  <resultMap id="BaseResultMap" type="com.bhe.dao.mybatis.model.ProductMaterialEntity" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="nameCn" property="namecn" jdbcType="VARCHAR" />
    <result column="nameEn" property="nameen" jdbcType="VARCHAR" />
    <result column="picUrl" property="picurl" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="interfaceUrl" property="interfaceurl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, nameCn, nameEn, picUrl, description, interfaceUrl
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bhe.dao.mybatis.model.ProductMaterialEntityCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_product_material
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_product_material
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_product_material
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.bhe.dao.mybatis.model.ProductMaterialEntityCriteria" >
    delete from t_product_material
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bhe.dao.mybatis.model.ProductMaterialEntity" >
    insert into t_product_material (id, nameCn, nameEn, 
      picUrl, description, interfaceUrl
      )
    values (#{id,jdbcType=BIGINT}, #{namecn,jdbcType=VARCHAR}, #{nameen,jdbcType=VARCHAR}, 
      #{picurl,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{interfaceurl,jdbcType=VARCHAR}
      )
    <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id" >
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>
  <insert id="insertSelective" parameterType="com.bhe.dao.mybatis.model.ProductMaterialEntity" >
    insert into t_product_material
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="namecn != null" >
        nameCn,
      </if>
      <if test="nameen != null" >
        nameEn,
      </if>
      <if test="picurl != null" >
        picUrl,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="interfaceurl != null" >
        interfaceUrl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="namecn != null" >
        #{namecn,jdbcType=VARCHAR},
      </if>
      <if test="nameen != null" >
        #{nameen,jdbcType=VARCHAR},
      </if>
      <if test="picurl != null" >
        #{picurl,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="interfaceurl != null" >
        #{interfaceurl,jdbcType=VARCHAR},
      </if>
    </trim>
    <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id" >
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>
  <select id="countByExample" parameterType="com.bhe.dao.mybatis.model.ProductMaterialEntityCriteria" resultType="java.lang.Integer" >
    select count(*) from t_product_material
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_product_material
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.namecn != null" >
        nameCn = #{record.namecn,jdbcType=VARCHAR},
      </if>
      <if test="record.nameen != null" >
        nameEn = #{record.nameen,jdbcType=VARCHAR},
      </if>
      <if test="record.picurl != null" >
        picUrl = #{record.picurl,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.interfaceurl != null" >
        interfaceUrl = #{record.interfaceurl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_product_material
    set id = #{record.id,jdbcType=BIGINT},
      nameCn = #{record.namecn,jdbcType=VARCHAR},
      nameEn = #{record.nameen,jdbcType=VARCHAR},
      picUrl = #{record.picurl,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      interfaceUrl = #{record.interfaceurl,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bhe.dao.mybatis.model.ProductMaterialEntity" >
    update t_product_material
    <set >
      <if test="namecn != null" >
        nameCn = #{namecn,jdbcType=VARCHAR},
      </if>
      <if test="nameen != null" >
        nameEn = #{nameen,jdbcType=VARCHAR},
      </if>
      <if test="picurl != null" >
        picUrl = #{picurl,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="interfaceurl != null" >
        interfaceUrl = #{interfaceurl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bhe.dao.mybatis.model.ProductMaterialEntity" >
    update t_product_material
    set nameCn = #{namecn,jdbcType=VARCHAR},
      nameEn = #{nameen,jdbcType=VARCHAR},
      picUrl = #{picurl,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      interfaceUrl = #{interfaceurl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByExampleForOne" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_product_material
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>