<div class="menu">
	<div class="user">
		<div class="article_title">个人中心</div>
		<div class="article_list">
			<div class="list01">
				<a href="userInfoManage.html"  <@sets.setCurr currIndex 1 />>个人信息</a>
			</div>
			<div class="list01">
				<a href="updatePwdMsg.html"  <@sets.setCurr currIndex 5 />>修改密码</a>
			</div>
			<!-- <div class="list01 ">
				<a href="myReciveMsges.html" <@sets.setCurr currIndex 2/>>收信管理</a>
			</div>
			<div class="list01">
				<a href="mySendMsges.html" <@sets.setCurr currIndex 3 />>发送记录</a>
			</div>
			<div class="list01">
				<a href="userMsgEdit.html" <@sets.setCurr currIndex 4 />>发送站内信</a>
			</div> -->
		</div>
		<!-- <div class="article_title">站内信</div>
		<div class="article_list">
		</div> -->
	</div>

</div>
