<div class="footer">
	<div class="foot_content ">
    	<div class="company_intro left">
        	<div class="fontwordmain">公司介绍</div>
            	<p><a href="${base}" class="fontword">关于宇田</a></p>
           	 	<p><a href="${base}/web/article/toCompanyProfile.html?code=companyprofile&base=%2Fbhecms&fullPath=http%3A%2F%2Flocalhost%2Fbhecms" class="fontword">发展历程</a></p>
            	<p><a href="${base}/web/article/toCompanyCulture.html?code=companyculture&base=%2Fbhecms&fullPath=http%3A%2F%2Flocalhost%2Fbhecms" class="fontword">服务内容</a></p>
            	<p><a href="" class="fontword">加入我们</a></p>
        </div>
        <div class="footerLine" style="margin-left:350px;"></div>
        <div class="company_intro left">
        	<div class="fontwordmain">公司产品</div>
           	 	<p><a href="${base}/web/product/productList.html?code=cleaningequipment" class="fontword">清洁设备</a></p>
            	<p><a href="${base}/web/product/productList.html?code=protectionProduct" class="fontword">安全防护</a></p>
            	<p><a href="${base}/web/product/productList.html?code=industrialcacuum" class="fontword">工业吸尘器</a></p>
            	
        </div>
        <div class="footerLine"></div>
        <div class="company_intro left">
        	<div class="fontwordmain">商业服务</div>
            	<p><a href="${base}/web/product/productList.html?code=rentalservice" class="fontword">租赁服务</a></p>
            	<p><a href="${base}/web/product/productList.html?code=cleaningcontractors" class="fontword">清洁承包</a></p>
        </div> 
        <!-- <div class="company_intro left">
        	<div class="fontwordmain">解决方案</div>
            	<p><a href="" class="fontword">业务咨询</a></p>
           	 	<p><a href="" class="fontword">市场合作</a></p>
            	<p><a href="" class="fontword">渠道互动</a></p>
            	<p><a href="" class="fontword"></a></p>
        </div> -->
        <div class="fontwordmain left" style="margin-left:318px;"><img src="${base}/res/web/images/ytMark1.jpg" width="100" height="100"></div>
        <div class="fontwordmain right footerMark"><img src="${base}/res/web/images/ytMark2.jpg" width="100" height="100"></div>
      
      
    </div>
</div> 
<p class="opyright font14">${copyrightcontrol}</p>  
