<div class="menu">
	<div class="article">
		<div class="article_title">内容管理</div>
		<div class="article_list">
			<div class="list01">
				<a href="${base}/admin/navigatebar/toNavigateBarIndex.html" <@sets.setCurr currIndex 1 />>导航栏管理</a>
			</div>
			<!-- <div class="list01">
				<a href="${base}/admin/navigatebar/toNavigateBarContent.html" <@sets.setCurr currIndex 2 />>导航栏内容管理</a>
			</div> -->
			<div class="list01">
				<a href="${base}/admin/navigatebar/toNavigateBarImg.html" <@sets.setCurr currIndex 3 />>图片管理</a>
			</div>
			<div class="list01">
				<a href="${base}/admin/user/toUserCustomer.html" <@sets.setCurr currIndex 4 />>客服名录</a>
			</div>
			<div class="list01">
				<a href="${base}/admin/link/tolinklist.html" <@sets.setCurr currIndex 5 />>友情链接</a>
			</div>
			<div class="list01">
				<a href="${base}/admin/product/tosolutionsManager.html" <@sets.setCurr currIndex 6 />>解决方案</a>
			</div>
			<div class="list01">
				<a href="${base}/admin/navigatebar/toProductSearchManage.html" <@sets.setCurr currIndex 7 />>商品关键字管理</a>
			</div>
		</div>
	</div>

</div>
